.button {
  text-align: center;
  background-color: $c-title;
  color: $c-white;

  &:hover {
    background-color: $c-black;
  }

  &--disabled {
    background-color: $c-disabled-black;
  }

  &--green {
    background-color: $c-green;

    &:hover {
      background-color: $c-green-title;
    }

    &--disabled {
      background-color: $c-disabled-green;
    }
  }
}
