$c-green: #0db2b3;
$c-back-green: #d6ecec;
$c-title: #333;
$c-text: #7c7c7c;
$c-white: #f7f7f7;
$c-gray-text: #bdbdbd;
$c-green-title: #0c797a;
$c-black: #131313;
$c-disabled-black: #d0d0d0;
$c-disabled-green: #cfeff0;
$c-border-form: #828282;
